*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{


    margin: 0px;
    color: #3b2f2f;
    background-color: rgb(219, 209, 185);
    font-family:Arial, Helvetica, sans-serif
}
header.GOJIRA{
    display: flex;
    background-color: #0e0f1a;
    color: white;
    justify-content: space-between;
    padding:  50px;
}
header.GOJIRA img{
    height: auto;
    width: 80px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}
header.GOJIRA h1{
    font-size: 25px;
    color: #e6c766;
    display: flex;
    align-items: center;
    margin: 0;
}
.cap  ul{
    list-style: none;
    display: flex;
    gap: 25px;

}
.cap ul li a {
    text-decoration: none;
    color: white;
font-weight: bold;

}
.cap ul li a:hover{
    color: gold;
}
/* HOME SECTION */
.lil{
    background: url() no-repeat center center/cover;
  text-align:center ;
  padding: 60px 20px;
  background-color:  #1b1b1b;;  
}
.lil h2{
    font-size: 32px;
    color: #f5d76e;
    margin-bottom: 10px;
    
}.lil p{
    font-size:  20px ;
color: #cccccc;
margin-bottom: 40px;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.card{
background-color: #1a1b2e;
color: white;
text-align: center;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
width: 280px;
padding: 20px;

}
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card h3 {
  color: #0e0f1a;
  font-size: 20px;
  margin-bottom: 8px;
}

.card p {
  color: gold;
  font-size: 15px;
}

/* FOOTER */
footer {
  background-color: #0e0f1a;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  margin-top: 40px}

